.iframe-container {
  overflow: hidden;
  position: relative;
  padding-right: 1%;
}

.iframe-container iframe {
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   border: 0;
}
