.iframe-container {
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}
.iframe-container iframe {
   position: absolute;
   right: 0;
   top: 0;
   height: 230px;
   width: 230px;
   border: 0;
}
