.iframe-container {
  overflow: hidden;
  position: relative;
  padding-right: 30%;
}
.iframe-container iframe {
   position: absolute;
   left: 0;
   top: 0;
   height: 230px;
   width: 230px;
   border: 0;
}
